@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: "Barlow", sans-serif;
}

/* Ocultar barras de rolagem para todos os navegadores */
/* Chrome, Safari e Opera */
::-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
}

/* Firefox */
* {
  scrollbar-width: none;
}

/* IE e Edge */
* {
  -ms-overflow-style: none;
}

/* Garantir que elementos com overflow ainda possam ser rolados */
* {
  -webkit-overflow-scrolling: touch;
}
